.main-container{
    background-color: aquamarine;
    height: fit-content;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
  }
  .card{
    height: 80vh;
    overflow-y: auto;
  }
  .main-card{
    flex-wrap: wrap;
    display:flex;
    flex-direction: row;
    overflow-y: auto;
  }
  .student-card{
    background-color: rgb(165, 196, 223);
    border-radius: 20px;
    padding: 30px;
    margin: 20px;
    list-style-type: none;
  }
  .main-buttons{
    display: flex;
    flex-direction: row;
    
  }
  .failure-view{
    width: 400px;
  }
  .main-container-loader{
    background-color: aquamarine;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
  .No-data-view{
    width: 400px;
    opacity: 85%;
  }
  .heading-no-data{
    margin: 40px;
    font-size: 35px;
  }